.main{
    height: 80vh;
    display: flex;
}


.main h1, h4, h3{
    color: #fff;
}

.main h4{
    display: inline-block;
    margin: 9px 15px 0 0;
}

.main h1{
    font-size: 30px;
    margin: 0 20px 0 0;
    display: inline-block;
}

.main-content{
    position: relative;
    top: 30%;
    margin-left: 20px;
    width: 50%;
}

.main img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gradient--vertical{
    width: inherit;
    height: inherit;
    display: flex;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.gradient--horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.vote-average{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}

.css-button-arrow--grey {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 40px 0 0 0 ;
    background-color: #6c757d;
    font-size: 12px;
  }
  .css-button-arrow--grey:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .css-button-arrow--grey:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--grey:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }